### Пути, независящие от стека

## IDE
/.idea/
/.vscode/

## Артефакты сборки
/artifacts/

## Журналы работы
*.log

### Пути, специфичные для PHP

## Локальные версии файлов конфигурации инструментов разработки
/phpunit.xml

### Composer
/composer.lock
/composer.phar
/vendor/

### Symfony
/var/
